* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #23272A;
}

form {
    color: white;
    border-radius: 15px;
    width: 60%;
    padding: 60px 40px;
    margin-top: 25px !important;
    margin: auto;
    background-color: #2C2F33;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 3.5vw;
    font-weight: 800;
    margin-bottom: 40px;
}

label {
    margin-top: 20px;
    display: block;
    font-size: 1.5vw;
    font-weight: 500;
}

input {
    background-color: transparent;
    color: white;
    font-size: 1.4vw;
    font-weight: 300;

    display: block;
    height: 5vh;
    width: 40%;

    margin-bottom: 15px;
    padding: 5px;

    resize: vertical;
    border: none;
    border-color: #99aab5;
    border-bottom-style: solid;
    transition: border 1s;
}

input:focus {
    border-color: rgb(88, 108, 177);
    outline: none;
}

input:valid {
    border-color: rgb(88, 108, 177);
}

.para {
    background-color: transparent;
    color: white;
    font-size: 1.4vw;
    font-weight: 300;

    display: block;
    height: 5.4vh;
    width: 80%;

    margin-bottom: 15px;
    padding: 5px;

    resize: vertical;
    border: none;
    border-color: #99aab5;
    border-bottom-style: solid;
    transition: border 1s;
}

.para:focus {
    border-color: rgb(88, 108, 177);
    outline: none;
}

.para:valid {
    border-color: rgb(88, 108, 177);
}

.rules {
    background-color: #23272A;
    text-align: left;

    width: 80%;
    padding: 10 20 10 20;

    box-shadow: 0px 0px 10px rgba(88, 108, 177, 0.5);
    border-radius: 10px;
}


input[type="submit"] {
    background: #99aab5;

    color: black;
    font-weight: 500;
    font-size: 1.4vw;

    display: block;
    height: 7vh;
    width: 100%;

    margin-top: 25px;
    margin-bottom: 25px;
    padding: 8px;

    border: none;
    border-radius: 5px;
    transition: background 1s;
}

input[type="submit"]:hover {
    background: rgb(88, 108, 177);
}

.note {
    font-size: 1vw;
}

/* Mobile  WIP */
@media only screen and (max-width: 1000px) {}
